fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
qdrant-client
sentence-transformers
numpy
pandas
tqdm
langchain_community
langchain
unstructured
openai
streamlit
python-dotenv
requests
dotenv
poetry